.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #d1e1ed;
  text-shadow: 1px 1px 2px rgba(255,0,0,0.4), -1px -1px 2px rgba(0,100,255,0.4), 0px -1px 2px rgba(0,255,0,0.4);
  color: black;
  box-sizing: border-box
}

h1 {
  font-family: "Rock 3D", garamond;
  font-weight: 400;
  font-size:100px;
  font-style: normal;
}

p {
  font-family: monospace;
}


a { 
  text-decoration-style: wavy;
  text-decoration-color:blue;
  color:black;
}
a:hover{
  text-decoration-style: wavy;
  text-decoration-color: red;
  color:black;
}

.grid-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  background-image:
    linear-gradient(to right, rgba(0,0,0,.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,.3) 1px, transparent 1px),
    linear-gradient(to right, rgba(0,0,0,.4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,.4) 1px, transparent 1px);
      
  background-size:4px 4px, 4px 4px, 20px 20px, 20px 20px;
  background-repeat:repeat;
  mix-blend-mode:overlay;
  z-index:0;
}

.about {
  display:flex;
  position:relative;
  width:50px;
  height:40px;
  background:conic-gradient(#ffffff 90deg, #d1d1d1 90deg 180deg, #ffffff 180deg 270deg, #d1d1d1 270deg);
  background-size:5px 5px;
  background-position:top left;
  background-repeat:repeat;
  align-items:center;
  justify-content:center;
  outline:2px inset #D0D4BF;
  border-top:1px solid black;
  border-left:1px solid black;
  margin:5px auto 0px; 
}

