.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid:
    "header" 10vh
    "main" 1fr
    "footer" 10vh
    /1fr;
}

.header, .main, .footer {
  padding: 1px 0px;
  border: 2px inset #EDEDE9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: grey;
  box-sizing:border-box;
}

.header { 
  grid-area: header; 
}

.main { 
  grid-area: main; 
  min-height: 0;
}
.footer { 
  grid-area: footer; 
}


body {
  background-color: #d1e1ed;
  text-shadow: 1px 1px 2px rgba(255,0,0,0.4), -1px -1px 2px rgba(0,100,255,0.4), 0px -1px 2px rgba(0,255,0,0.4);
  color: black;
  box-sizing: border-box
}

h1 {
  font-family: "Rock 3D", garamond;
  font-weight: 400;
  font-size: clamp(2rem, 10vw + 1rem, 6rem);
  font-style: normal;
}

p {
  font-family: monospace;
}


a { 
  text-decoration-style: wavy;
  text-decoration-color:blue;
  color:black;
}

a:hover{
  text-decoration-style: wavy;
  text-decoration-color: red;
  color:black;
}

.nav-button {
  padding: 6px 16px;
  background: #CFCFBE; 
  color: black; 
  font-size: 14px;
  letter-spacing: 1px; 
  text-decoration: none; 
  border: 2px outset #EDEDE9; 
  border-radius: 3px; 
  box-shadow: 0 0 2px black; 
  outline: 1px solid black; 
  box-sizing: border-box;
  display: inline-flex;
  align-self: center;
}

.nav-button a {
  padding:6px 16px; 
  background:#CFCFBE; 
  color:black; 
  font-size:10px; 
  line-height:1; 
  letter-spacing:1px; 
  text-decoration:none; 
  border:2px outset #EDEDE9;
  border-radius:3px; 
  box-shadow:0 0 2px black; 
  outline:1px solid black; 
  box-sizing: border-box; 
}
.nav-button a:hover {
  font-weight:100; 
  text-decoration-style:wavy; 
}


.grid-overlay {
  position:absolute;
  width:95%;
  height:70%;
  pointer-events:none;
  background-image:
    linear-gradient(to right, rgba(0,0,0,.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,.3) 1px, transparent 1px),
    linear-gradient(to right, rgba(0,0,0,.4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,.4) 1px, transparent 1px);
      
  background-size:4px 4px, 4px 4px, 20px 20px, 20px 20px;
  background-repeat:repeat;
  mix-blend-mode:overlay;
  z-index:1;
}

.main-box-around {
  padding:1px 0px;
  border:2px inset #EDEDE9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: grey;
  margin:10vh 2vw;
}

.main-box {
  width:100%;
  height:80vh;
  background: #CFCFBE;
  border: 2px outset #D0D4BF;
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:7px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  outline: 1px solid black;
  margin: 0; 
}

.main-box-inside {
  width:95vw;
  height:70vh;
  outline:inset;
  outline-width:2px;
  outline-color:#D0D4BF;
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid transparent;
  border-bottom:1px solid transparent;
  margin-right:3px;
  margin-bottom:3px;
  background-color:#afcc9e;
  align-items:center;
  z-index:0;
}

.nav-box-around {
  padding:1px 0px;
  border:2px inset #EDEDE9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: grey;
  width:100%;
}

.nav-box {
  width:100%;
  height:8vh;
  background: #CFCFBE;
  border: 2px outset #D0D4BF;
  border-radius:5px;
  display: flex;
  gap:7px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  outline: 1px solid black;
  margin: 0px; 
  align-content:center;
  justify-content:center;
}
